<div class="window" draggable >
  <div class="titlebar" draggable-space style="display: flex; justify-content: center; align-items: center; flex-direction: row; gap: 10px;">
    <div non-draggable-space style="color: #000; width: 20px; height: 20px; background-color: red">X</div>
    <div style="color: #000; width: 20px; height: 20px; background-color: blue">-</div>
    <div style="color: #000; width: 20px; height: 20px; background-color: green;" (click)="closeWindow()">-</div>

  </div>
  <div #content>
    <button (click)="closeWindow()">Close</button>
    <div ngModel #container id="container"></div>
  </div>
</div>
