<div dw-windowframe class="window">
  <div class="wrapper">
    <div dw-draggable-space class="titlebar">
      <div class="window-title">My example text editor</div>
      <ul dw-non-draggable-space="recursive-child" class="window-buttons">
        <li (click)="minimize()" class="window-button button-minimize"></li>
        <li (click)="toggleMaximize()" class="window-button button-maximize"></li>
        <li (click)="resolveCloseWindowAction()" class="window-button button-close"></li>
      </ul>

    </div>
    <div class="content">
      <textarea #inputField (keyup)="updateTitle($event)">Hello this is my simple text editor!</textarea>
    </div>
  </div>
</div>
