<div class="wrapper">
  <ng-template ngFor let-i [ngForOf]="getEntries()" >

    <div *ngIf="this.isThisFocused(i); then focusedBlock else notFocusedBlock" ></div>

    <ng-template #focusedBlock>
      <div (click)="focus(i)" class="taskbar-item focused">
        <div class="taskbar-item-inner">
          <img *ngIf="i.componentRef.instance.windowIconPath.length > 0" src="{{i.componentRef.instance.windowIconPath}}" class="entry-icon">
          <p class="window-name">{{i.componentRef.instance.windowName}}</p>
        </div>
      </div>
    </ng-template>

    <ng-template #notFocusedBlock>
      <div (click)="focus(i)" class="taskbar-item">
        <div class="taskbar-item-inner">
          <img *ngIf="i.componentRef.instance.windowIconPath.length > 0" src="{{i.componentRef.instance.windowIconPath}}" class="entry-icon">
          <p class="window-name">{{i.componentRef.instance.windowName}}</p>
        </div>
      </div>
    </ng-template>

  </ng-template>
</div>
