<div dw-windowframe class="wrapper">
  <div dw-draggable-space class="servers">
    <div class="discord-logo-box">
      <div class="selected-item-indicator"></div>
      <div class="discord-logo"></div>
      <div class="discord-logo-separator"></div>
    </div>
    <div class="server-list"></div>
  </div>
  <div class="friends">
    <div dw-draggable-space class="search-panel">
      <input class="search" type="text" placeholder="Find or start a conversation">
    </div>
  </div>
  <div class="online">
    <div dw-draggable-space class="panel">
      <div class="panel-left">
        <div class="panel-item friends-icon">Friends</div>
        <div class="panel-item categories">
          <div class="category">Online</div>
          <div class="category">All</div>
          <div class="category">Pending</div>
          <div class="category">Blocked</div>
          <div class="category add-friend">Add Friend</div>
        </div>
      </div>
      <div class="panel-right">
        <div class="chat-info panel-item"></div>
        <div class="help panel-item">
          <div class="inbox-icon">
            <div class="frame-top"></div>
            <div class="frame-bottom"></div>
          </div>
          <div class="help-icon"><p>?</p></div>
        </div>
        <div dw-non-draggable-space="recursive-child" class="system-buttons">
          <div class="button button-minimize"></div>
          <div class="button button-close"></div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="middle-panel">
      </div>
      <div class="active-now">
        <h1 class="active-header">Active Now</h1>
        <h3>It's quiet for now...</h3>
        <p class="active-text">
          When a friend start an activity--like playing a game or hanging out on voice--we'll show it here!
        </p>
      </div>
    </div>
  </div>
</div>
